.App {
    max-width: 1400px;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
  }
  .card-gridL4{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
  }