.card{
    position:relative;
    margin-top: 10px;
}
.card img {
    margin-top: 10px;
    width: 175px;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

.frontCard {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .front {
    width: 175px;
    align-items: center;
    justify-content: center;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}