/* lvlsel.css */

.level-select-container {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content:top;
    height: 100vh;
  }
  
  .level-select-container h1{
    height: 10%;
  }
  .level-buttons {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
  }
  